ion-text.blog-title {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.61111em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ion-text.blog-subtitle {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.61111em;
    margin-bottom: 1em;
    font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ion-text.blog-text {
    margin: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.61111em;
    margin-bottom: 1em;
    font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
}