<ion-segment scrollable="true">
  <ion-text class="blog-title">
    Why we use Git
  </ion-text>
  <ion-text class="blog-subtitle">
    Overview
  </ion-text>
  <ion-text class="blog-text">
    Why do you think you need git? If you are just looking to save some files to the cloud, There
    may be some better options out there.
    This blog is not just going to address the basics of git, but also the amazing features
    that it has, including github pages, gitlab CI/CD and others.<br>
  </ion-text>
  <ion-text class="blog-subtitle">
    The basics
  </ion-text>
  <ion-text class="blog-text">
    Starting with the basics, git has a very easy to use system. Using repositories to create
    folders of files and save them to the cloud. This allows for another copy of the files to be
    saved which should be reason enough to use git. I will not got through the commands to use
    git, as i believe there is enough articals out there explaining them.
  </ion-text>
  <ion-text class="blog-subtitle">
    Gitlab
  </ion-text>
  <ion-text class="blog-text">
    Gitlab is one of my favorite git hosting tools. Gitlab is used by a lot of companies to run local
    git instances, only available on their internal network. If you are a student, this will
    probably be why you haven't heard of it.<br>
    <br>
    this is dumb
  </ion-text>
</ion-segment>