<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Computer Science Student</ion-card-subtitle>
      <ion-card-title>Isaac French</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Studied at University of Bradford, BSc(hons) Computer Science.
    </ion-card-content>
    <ion-card-content>
      Worked as a placement student at <a href="https://exa.net.uk/">Exa Networks</a> as a Junior Engineer in the RnD
      department.
    </ion-card-content>
    <ion-card-content>
      <a href="https://github.com/IRFrench">Github</a>
    </ion-card-content>
  </ion-card>
</ion-content>